<body id="cellar">
  <div id="sidebar">
    Cabernet sauvignon
    Pinot noir
    Syrah
    Merlot
    Chardonnay
    Sauvignon blanc
    Riesling
    Gewürztraminer
  </div>
  <div id="list">
    2buck chuck
    2009 Domaine Skouras St. George Cabernet Sauvignon
    2009 Delas Côtes du Ventoux
    2009 Coltibuono Cetamura Chianti
    2010 Casamatta
    2009 Valle Reale Vigneto Vigne Nuove Montepulciano d'Abruzzo
    2009 d'Arenberg The Stump Jump Grenache-Shiraz-Mourvèdre
  </div>
</body>
