/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body#main_page {
	  /*css for full size background image*/
	background: image_url("vineyard.jpg") no-repeat center center fixed;
}

body#cellar {
	background: image_url("old-style-brown-cloth.jpg");
}

#nav-img {
	padding-right: 0px;
}

#add-button {
	margin-left: -9px;
	margin-top: -9px;
}

#logo { display:block;
	margin-left: auto;
	margin-right: auto;
}

#list, #categories {
	padding: 15px;
	border-radius: 5px;
	opacity: 0.9;
	border: 1px solid;
}

#categories {
	background-color: #F8F8F8;
	margin-left:15px;
	min-width: 195px;
}

#list {
	margin-left:-15px;
	margin-right: 20px;
}

#list_items, #category {
	padding: 2px;
}

.thumbnail {
	float: left;
	margin-bottom: 18px;
  margin-left: 20px;
  height: 275px;
	width: 100%;
}

.add-to-wishlist {
	position: absolute;
	bottom: 25px;
	left: 42px;
	margin: 0;
	padding: 5px 3px;
	opacity: 1;
}

.drank-wine {
	position: absolute;
	bottom: 25px;
	right: 2px;
	margin: 0;
	padding: 5px 3px;
	opacity: 1;
}
