<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left" id="nav-img" href="#">
        <img alt="Brand" src="<%= asset_path("/favicon.ico")%>">
      </a>
      <a class="navbar-brand" href="/">WineCellar</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li><a href="/cellar">Your Wine</a></li>
          <li><a href="/wishlist">Wish List</a></li>
          <li><a href="/history">Past Wines</a></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user  %>
            <a class="navbar-brand">Welcome <%= current_user.name %>!</a>
          <% end %>
        </li>
        <% if request.fullpath == ("/cellar" || "/wishlist" || "/history") %>
          <li>
            <form class="navbar-form navbar-right pull-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" id="search-bar">
              </div>
            </form>
          </li>
        <% end %>
        <li>
        <% if current_user %>
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</div>
